{% extends 'base.html' %}
{% block title %}{{ detail.title }}{% endblock title %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            {% include 'bloks/navi.html' %}
        </div>
        <div class="col-12">
            <h3>{{ detail.title }}</h3>
        </div>
        <div class="col-12">
            <p>
                <img src="{{ detail.image.url }}" class="rounded mx-auto d-block" alt="{{ detail.title }}">

            </p>
            <p>{{ detail.description }}<</p>
            <p></p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        {% if servic %}
        {% for ser in servic %}
        <div class="col-12">{{ ser.title }}</div>
        {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock content %}